$default-font: "Roboto", "Arial", sans-serif;

$text-color: #020202;
$yellow: #ffdb4d;
$gray-lighter: #efefef;
$gray-darken: #e2e2e2;
$label: #aaaaaa;
$gray-form: #e5e5e5;
$gray-footer: #6a6a6a;

$mobile-title-font: 20px;
$mobile-title-lineheight: 32px;

$desktop-title-font: 40px;
$desktop-title-lineheight: 48px;

$mobile-padding: 7%;
$tablet-padding: 10%;
$desktop-padding: 15%;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$xl-width: 1400px;
